In [1]:
import pandas as pd
from random import randint

In [2]:
def demo_exp_s_1(df):
    n = randint(1, 2)
    
    if n ==1:
        return pd.Series({"cnt":n})
    elif n ==2:
        return pd.Series({"cnt":n, "cnt_2":2})
    else:
        print("Exp")
    
r = demo_exp_s_1(1)
r

cnt      2
cnt_2    2
dtype: int64

In [3]:
def demo_exp_s_2(df):
    n = randint(1, 2)
    
    if n ==1:
        return pd.Series({"cnt":n, "cnt_2":2})
    elif n ==2:
        return pd.Series({"cnt":n, "cnt_2":2})
    else:
        print("Exp")

In [4]:
def demo_exp_d_1(df):
    n = randint(1, 2)
    
    if n ==1:
        return {"cnt":[n], "cnt_2":[2]}
    elif n ==2:
        return {"cnt":[n]}
    else:
        print("Exp")

In [5]:
def demo_exp_d_2(df):
    n = randint(1, 2)
    
    if n ==1:
        return {"cnt":[n], "cnt_2":[2]}
    elif n ==2:
        return {"cnt":[n], "cnt_2":[2]}
    else:
        print("Exp")

In [6]:
def demo_exp_df_1(df):
    n = randint(1, 2)
    
    if n ==1:
        return pd.DataFrame({"cnt":[n], "cnt_2":[2]})
    elif n ==2:
        return pd.DataFrame({"cnt":[n]})
    else:
        print("Exp")

In [7]:
def demo_exp_df_2(df):
    n = randint(1, 2)
    
    if n ==1:
        return pd.DataFrame({"cnt":[n], "cnt_2":[2]})
    elif n ==2:
        return pd.DataFrame({"cnt":[n], "cnt_2":[2]})
    else:
        print("Exp")

In [8]:
df = pd.DataFrame({"A":[randint(1, 10) for i in range(10000)]})
df.shape

(10000, 1)

## 如果每一个返回的Series是不整齐的，则不会自动成df

### Series

In [9]:
stat_grp = pd.DataFrame(df.groupby("A", as_index=None).apply(demo_exp_s_1))
stat_grp

         0
0 cnt    2
  cnt_2  2
1 cnt    2
  cnt_2  2
2 cnt    1
3 cnt    1
4 cnt    2
  cnt_2  2
5 cnt    1
6 cnt    2
  cnt_2  2
7 cnt    1
8 cnt    2
  cnt_2  2
9 cnt    1

In [10]:
df.groupby("A", as_index=None).apply(demo_exp_s_2)

    A  cnt  cnt_2
0   1    1      2
1   2    2      2
2   3    1      2
3   4    2      2
4   5    2      2
5   6    2      2
6   7    1      2
7   8    1      2
8   9    1      2
9  10    1      2

### Dict

In [11]:
stat_grp = pd.DataFrame(df.groupby("A", as_index=None).apply(demo_exp_d_1))
stat_grp

    A  NaN
0   1  NaN
1   2  NaN
2   3  NaN
3   4  NaN
4   5  NaN
5   6  NaN
6   7  NaN
7   8  NaN
8   9  NaN
9  10  NaN

In [12]:
stat_grp = pd.DataFrame(df.groupby("A").apply(demo_exp_d_2))
stat_grp

                             0
A
1   {'cnt': [1], 'cnt_2': [2]}
2   {'cnt': [2], 'cnt_2': [2]}
3   {'cnt': [2], 'cnt_2': [2]}
4   {'cnt': [2], 'cnt_2': [2]}
5   {'cnt': [2], 'cnt_2': [2]}
6   {'cnt': [1], 'cnt_2': [2]}
7   {'cnt': [1], 'cnt_2': [2]}
8   {'cnt': [2], 'cnt_2': [2]}
9   {'cnt': [1], 'cnt_2': [2]}
10  {'cnt': [1], 'cnt_2': [2]}

### Df

In [17]:
stat_grp = pd.DataFrame(df.groupby("A").apply(demo_exp_df_1)).reset_index()
stat_grp

    A  level_1  cnt  cnt_2
0   1        0    2    NaN
1   2        0    1    2.0
2   3        0    2    NaN
3   4        0    1    2.0
4   5        0    2    NaN
5   6        0    2    NaN
6   7        0    2    NaN
7   8        0    1    2.0
8   9        0    2    NaN
9  10        0    1    2.0

In [19]:
stat_grp = pd.DataFrame(df.groupby("A").apply(demo_exp_df_2)).reset_index()
stat_grp

    A  level_1  cnt  cnt_2
0   1        0    1      2
1   2        0    1      2
2   3        0    1      2
3   4        0    1      2
4   5        0    1      2
5   6        0    2      2
6   7        0    1      2
7   8        0    2      2
8   9        0    1      2
9  10        0    1      2

## df作为参数，真的应该谨慎

In [30]:
def deri_vars(df, method=1):
    if method == 1:
        df.sort_values(by=["id_comp", "dt"], ascending=[True, False], inplace=True)
        df_last = df.drop_duplicates(subset=["id_comp"], keep="first")
    else:
        df_tmp = df.sort_values(by=["id_comp", "dt"], ascending=[True, False])
        df_last= df_tmp.drop_duplicates(subset=["id_comp"], keep="first")
    
    display("df_last")
    display(df_last)    
    cnt = df[df["grp"]=="A"].shape[0]
    
    return pd.Series({"cnt":cnt})
#     return pd.DataFrame({"cnt":[cnt]})


df = pd.DataFrame({
    "id":["k1", "k2", "k3", "k1", "k5", "k1", "k1", "k2", "k3", "k1"]
    , "id_comp":[1, 1, 2, 3, 1, 2, 5, 3, 1, 2]
    , "dt":[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
    , "grp":["A", "A", "B", "A", "D", "A", "A", "B", "A", "D"]
})

display(df)

display(df.groupby("id").apply(deri_vars, method=(1,)))
display(df.groupby("id").apply(deri_vars, method=(2,)))

   id  id_comp  dt grp
0  k1        1   1   A
1  k2        1   2   A
2  k3        2   3   B
3  k1        3   4   A
4  k5        1   5   D
5  k1        2   6   A
6  k1        5   7   A
7  k2        3   8   B
8  k3        1   9   A
9  k1        2  10   D

'df_last'

   id  id_comp  dt grp
0  k1        1   1   A
9  k1        2  10   D
3  k1        3   4   A
6  k1        5   7   A

'df_last'

   id  id_comp  dt grp
1  k2        1   2   A
7  k2        3   8   B

'df_last'

   id  id_comp  dt grp
8  k3        1   9   A
2  k3        2   3   B

'df_last'

   id  id_comp  dt grp
4  k5        1   5   D

    cnt
id
k1    4
k2    1
k3    1
k5    0

'df_last'

   id  id_comp  dt grp
0  k1        1   1   A
9  k1        2  10   D
3  k1        3   4   A
6  k1        5   7   A

'df_last'

   id  id_comp  dt grp
1  k2        1   2   A
7  k2        3   8   B

'df_last'

   id  id_comp  dt grp
8  k3        1   9   A
2  k3        2   3   B

'df_last'

   id  id_comp  dt grp
4  k5        1   5   D

    cnt
id
k1    4
k2    1
k3    1
k5    0

## df.groupby().apply() 返回的数据全部一样

1. pandas groupby 执行原理
2. groupby.apply调用的函数func里面，不能对df再做排序等，不然会结果错乱【如果排序了，输出的结果都一致】
> 解决办法：groupby之后的函数体内，需要对传入的df做深拷贝，然后在深拷贝的数据集上做处理


> [Pandas 数据分析——超好用的 Groupby 详解](https://learnku.com/articles/39735) E:\notebooks\2.python\0. 资料\Error

id    name  math class
0    1   name1    78     A
1    2   name2    88     A
2    3   name3    76     A
3    4   name4    97     A
4    5   name5    94     A
5    6   name6    89     A
6    7   name7    56     B
7    8   name8    86     B
8    9   name9    90     B
9   10  name10    98     B
10  11  name11    83     B
11  12  name12    89     B
12  13  name13    78     B
13  14  name14    80     C
14  15  name15    99     C
15  16  name16   100     C
16  17  name17    94     C
17  18  name18    76     C
18  21  name19    85     C
19  22  name20    96     C
20  23  name21    83     C

In [14]:
import pandas as pd
from random import randint

df = pd.DataFrame({
    "id":list(range(1, 24))
    , "name":["name%d" %randint(1, 10) for i in range(1, 24)]
    , "math":[randint(60, 100) for i in range(1, 24)]
    #, "class":[]
})
df["class"] = df["math"].apply(lambda x:"A" if x>90 else "B" if x>80 else "C")
df.sort_values(by="math", ascending=False).head()

    id   name  math class
11  12  name7    99     A
12  13  name8    97     A
16  17  name8    97     A
0    1  name8    97     A
8    9  name2    93     A

In [36]:
def func_sum(df_sub, dict_params):
    """
        和这里有关系，进来之后，不能做任何的操作
    """
#     df_sub.sort_values(by="name", inplace=True) 
    
    dict_return = {}
    
    cnt_a = df_sub[df_sub["class"]=="A"].shape[0]
    cnt_b = df_sub[df_sub["class"]=="B"].shape[0]
    
    dict_return["cnt_a"] = cnt_a
    dict_return["cnt_b"] = cnt_b
    dict_return["name_grp"] = df_sub["name"].to_list()[0]
    
    
    return pd.Series(dict_return)


def func_sort(df):
    df.sort_values(by="name", inplace=True) # 排序会致使出错
    print(df)

def func_sort2(df):
#     df.sort_values(by="name", inplace=True)
    print(df)
    
def func_sort3(df):
    df_sub = df.copy(deep=True)
    df_sub.sort_values(by="name", inplace=True)
    print(df_sub)

In [25]:
stat_res = df.groupby("name", as_index=None).apply(func_sum, dict_params={"shift_value":1})
stat_res

     name  cnt_a  cnt_b name_grp
0   name1      0      0    name1
1  name10      0      0   name10
2   name2      1      0    name2
3   name4      0      1    name4
4   name5      0      0    name5
5   name6      0      0    name6
6   name7      1      0    name7
7   name8      3      1    name8
8   name9      0      0    name9

In [29]:
stat_res = df.groupby("name", as_index=None).apply(func_sort)
stat_res

    id   name  math class
1    2  name1    79     C
13  14  name1    71     C
18  19  name1    74     C
    id   name  math class
1    2  name1    79     C
13  14  name1    71     C
18  19  name1    74     C
    id   name  math class
1    2  name1    79     C
13  14  name1    71     C
18  19  name1    74     C
    id   name  math class
1    2  name1    79     C
13  14  name1    71     C
18  19  name1    74     C
    id   name  math class
1    2  name1    79     C
13  14  name1    71     C
18  19  name1    74     C
    id   name  math class
1    2  name1    79     C
13  14  name1    71     C
18  19  name1    74     C
    id   name  math class
1    2  name1    79     C
13  14  name1    71     C
18  19  name1    74     C
    id   name  math class
1    2  name1    79     C
13  14  name1    71     C
18  19  name1    74     C
    id   name  math class
1    2  name1    79     C
13  14  name1    71     C
18  19  name1    74     C

Empty DataFrame
Columns: []
Index: []

In [31]:
stat_res = df.groupby("name", as_index=None).apply(func_sort2)

    id   name  math class
1    2  name1    79     C
13  14  name1    71     C
18  19  name1    74     C
    id    name  math class
19  20  name10    68     C
20  21  name10    80     C
   id   name  math class
8   9  name2    93     A
   id   name  math class
6   7  name4    87     B
    id   name  math class
10  11  name5    73     C
    id   name  math class
3    4  name6    67     C
17  18  name6    62     C
    id   name  math class
5    6  name7    73     C
11  12  name7    99     A
    id   name  math class
0    1  name8    97     A
2    3  name8    61     C
4    5  name8    82     B
7    8  name8    65     C
9   10  name8    68     C
12  13  name8    97     A
16  17  name8    97     A
    id   name  math class
14  15  name9    67     C
15  16  name9    79     C
21  22  name9    79     C
22  23  name9    71     C

In [37]:
stat_res = df.groupby("name", as_index=None).apply(func_sort3)

    id   name  math class
1    2  name1    79     C
13  14  name1    71     C
18  19  name1    74     C
    id    name  math class
19  20  name10    68     C
20  21  name10    80     C
   id   name  math class
8   9  name2    93     A
   id   name  math class
6   7  name4    87     B
    id   name  math class
10  11  name5    73     C
    id   name  math class
3    4  name6    67     C
17  18  name6    62     C
    id   name  math class
5    6  name7    73     C
11  12  name7    99     A
    id   name  math class
0    1  name8    97     A
2    3  name8    61     C
4    5  name8    82     B
7    8  name8    65     C
9   10  name8    68     C
12  13  name8    97     A
16  17  name8    97     A
    id   name  math class
14  15  name9    67     C
15  16  name9    79     C
21  22  name9    79     C
22  23  name9    71     C