# groupby agg

- 各种写法
- 重命名

In [3]:
from sklearn.datasets import load_iris
import pandas as pd

In [8]:
df = pd.DataFrame(load_iris().data)
df.columns = ["A", "B", "C", "D"]
df.head()

     A    B    C    D
0  5.1  3.5  1.4  0.2
1  4.9  3.0  1.4  0.2
2  4.7  3.2  1.3  0.2
3  4.6  3.1  1.5  0.2
4  5.0  3.6  1.4  0.2

## 多列 * 多维度统计

In [16]:
# 对单列进行多维度统计, 可以自定义函数
df.groupby("A").agg({
    "B":["min", "max", "mean", lambda x:sum([1 for i in x])]
}).head(3)

       B
     min  max      mean <lambda_0>
A
4.3  3.0  3.0  3.000000          1
4.4  2.9  3.2  3.033333          3
4.5  2.3  2.3  2.300000          1

In [17]:
# 对多列进行多维度统计, 可自定义函数
df.groupby("A")[["B", "C"]].agg(
    ["min", "max", "mean", lambda x:sum([1 for i in x])]
).head(3)

       B                              C
     min  max      mean <lambda_0>  min  max      mean <lambda_0>
A
4.3  3.0  3.0  3.000000          1  1.1  1.1  1.100000          1
4.4  2.9  3.2  3.033333          3  1.3  1.4  1.333333          3
4.5  2.3  2.3  2.300000          1  1.3  1.3  1.300000          1

In [18]:
# 对多列进行不同维度的统计
df.groupby("A").agg({
    "B":["min", "max", "mean", lambda x:sum([1 for i in x])]
    , "C":"max"
}).head(3)

       B                              C
     min  max      mean <lambda_0>  max
A
4.3  3.0  3.0  3.000000          1  1.1
4.4  2.9  3.2  3.033333          3  1.4
4.5  2.3  2.3  2.300000          1  1.3

## 统计与命名

In [19]:
# 直接命名
df.groupby("A").agg(cnt = ("B", "count")).head(3)

     cnt
A
4.3    1
4.4    3
4.5    1

In [24]:
# 使用rename
df.groupby("A").agg({"A":"count"}).rename(columns={"A":"AAA"}).head(3)

     AAA
A
4.3    1
4.4    3
4.5    1