In [1]:
import pandas as pd
from random import randint

In [2]:
def demo_exp_s_1(df):
    n = randint(1, 2)
    
    if n ==1:
        return pd.Series({"cnt":n})
    elif n ==2:
        return pd.Series({"cnt":n, "cnt_2":2})
    else:
        print("Exp")
    
r = demo_exp_s_1(1)
r

cnt      2
cnt_2    2
dtype: int64

In [3]:
def demo_exp_s_2(df):
    n = randint(1, 2)
    
    if n ==1:
        return pd.Series({"cnt":n, "cnt_2":2})
    elif n ==2:
        return pd.Series({"cnt":n, "cnt_2":2})
    else:
        print("Exp")

In [4]:
def demo_exp_d_1(df):
    n = randint(1, 2)
    
    if n ==1:
        return {"cnt":[n], "cnt_2":[2]}
    elif n ==2:
        return {"cnt":[n]}
    else:
        print("Exp")

In [5]:
def demo_exp_d_2(df):
    n = randint(1, 2)
    
    if n ==1:
        return {"cnt":[n], "cnt_2":[2]}
    elif n ==2:
        return {"cnt":[n], "cnt_2":[2]}
    else:
        print("Exp")

In [6]:
def demo_exp_df_1(df):
    n = randint(1, 2)
    
    if n ==1:
        return pd.DataFrame({"cnt":[n], "cnt_2":[2]})
    elif n ==2:
        return pd.DataFrame({"cnt":[n]})
    else:
        print("Exp")

In [7]:
def demo_exp_df_2(df):
    n = randint(1, 2)
    
    if n ==1:
        return pd.DataFrame({"cnt":[n], "cnt_2":[2]})
    elif n ==2:
        return pd.DataFrame({"cnt":[n], "cnt_2":[2]})
    else:
        print("Exp")

In [8]:
df = pd.DataFrame({"A":[randint(1, 10) for i in range(10000)]})
df.shape

(10000, 1)

## 如果每一个返回的Series是不整齐的，则不会自动成df

### Series

In [9]:
stat_grp = pd.DataFrame(df.groupby("A", as_index=None).apply(demo_exp_s_1))
stat_grp

         0
0 cnt    2
  cnt_2  2
1 cnt    2
  cnt_2  2
2 cnt    1
3 cnt    1
4 cnt    2
  cnt_2  2
5 cnt    1
6 cnt    2
  cnt_2  2
7 cnt    1
8 cnt    2
  cnt_2  2
9 cnt    1

In [10]:
df.groupby("A", as_index=None).apply(demo_exp_s_2)

    A  cnt  cnt_2
0   1    1      2
1   2    2      2
2   3    1      2
3   4    2      2
4   5    2      2
5   6    2      2
6   7    1      2
7   8    1      2
8   9    1      2
9  10    1      2

### Dict

In [11]:
stat_grp = pd.DataFrame(df.groupby("A", as_index=None).apply(demo_exp_d_1))
stat_grp

    A  NaN
0   1  NaN
1   2  NaN
2   3  NaN
3   4  NaN
4   5  NaN
5   6  NaN
6   7  NaN
7   8  NaN
8   9  NaN
9  10  NaN

In [12]:
stat_grp = pd.DataFrame(df.groupby("A").apply(demo_exp_d_2))
stat_grp

                             0
A
1   {'cnt': [1], 'cnt_2': [2]}
2   {'cnt': [2], 'cnt_2': [2]}
3   {'cnt': [2], 'cnt_2': [2]}
4   {'cnt': [2], 'cnt_2': [2]}
5   {'cnt': [2], 'cnt_2': [2]}
6   {'cnt': [1], 'cnt_2': [2]}
7   {'cnt': [1], 'cnt_2': [2]}
8   {'cnt': [2], 'cnt_2': [2]}
9   {'cnt': [1], 'cnt_2': [2]}
10  {'cnt': [1], 'cnt_2': [2]}

### Df

In [17]:
stat_grp = pd.DataFrame(df.groupby("A").apply(demo_exp_df_1)).reset_index()
stat_grp

    A  level_1  cnt  cnt_2
0   1        0    2    NaN
1   2        0    1    2.0
2   3        0    2    NaN
3   4        0    1    2.0
4   5        0    2    NaN
5   6        0    2    NaN
6   7        0    2    NaN
7   8        0    1    2.0
8   9        0    2    NaN
9  10        0    1    2.0

In [19]:
stat_grp = pd.DataFrame(df.groupby("A").apply(demo_exp_df_2)).reset_index()
stat_grp

    A  level_1  cnt  cnt_2
0   1        0    1      2
1   2        0    1      2
2   3        0    1      2
3   4        0    1      2
4   5        0    1      2
5   6        0    2      2
6   7        0    1      2
7   8        0    2      2
8   9        0    1      2
9  10        0    1      2

## df作为参数，真的应该谨慎

In [27]:
def deri_vars(df, method=1):
    if method == 1:
        df.sort_values(by=["id_comp", "dt"], ascending=[True, False], inplace=True)
        df_last = df.drop_duplicates(subset=["id_comp"], keep="first")
    else:
        df_tmp = df.sort_values(by=["id_comp", "dt"], ascending=[True, False])
        df_last= df_tmp.drop_duplicates(subset=["id_comp"], keep="first")
        
    cnt = df[df["grp"]=="A"].shape[0]
    
    return pd.Series({"cnt":cnt})
#     return pd.DataFrame({"cnt":[cnt]})


df = pd.DataFrame({
    "id":["k1", "k2", "k3", "k1", "k5", "k1", "k1", "k2", "k3", "k1"]
    , "id_comp":[1, 1, 2, 3, 1, 2, 5, 3, 1, 2]
    , "dt":[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
    , "grp":["A", "A", "B", "A", "D", "A", "A", "B", "A", "D"]
})

display(df)

display(df.groupby("id").apply(deri_vars, method=(1,)))
display(df.groupby("id").apply(deri_vars, method=(2,)))

   id  id_comp  dt grp
0  k1        1   1   A
1  k2        1   2   A
2  k3        2   3   B
3  k1        3   4   A
4  k5        1   5   D
5  k1        2   6   A
6  k1        5   7   A
7  k2        3   8   B
8  k3        1   9   A
9  k1        2  10   D

      cnt
id
k1 0    4
k2 0    1
k3 0    1
k5 0    0

      cnt
id
k1 0    4
k2 0    1
k3 0    1
k5 0    0